<div class="container-fluid group-header">
  <div class="row no-marg-left">
    <div class="col-xs-12">
      <h2>Select a Group to Review Items</h2>
    </div>
  </div>
</div>

<div class="container">
  
  <hr>

  {{#if model.results}}
  
    {{#each model.results as |item|}}
      {{#link-to 'review.index' item.id}}

      <div class="container" style="margin-bottom:20px;">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object group-thumbnail" src="{{item.groupThumbnailUrl}}">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{item.title}}</h4>
            {{item.snippet}}
          </div>
        </div>
      </div>
      
      {{/link-to}}
    {{/each}}

  {{else}}
    {{#if model.error}}
      <h5>{{model.error}}</h5>
      <span>{{model.details}}</span>
    {{/if}}
  {{/if}}
</div>

{{outlet}}
