<div class="container">

  {{#if model.results}}
  
  <h2>Select a Group to Review its Items</h2>
  <hr>

  <div class="row">
    <div class="col-xs-8">
      <ul class="list-group">
      {{#each model.results as |item|}}
        <li class="list-group-item">{{#link-to 'review.index' item.id }} {{item.title}} {{/link-to}}</li>
      {{/each}}
      </ul>
    </div>
  </div>
  {{else}}
    {{#if model.error}}
      <h5>{{model.error}}</h5>
      <span>{{model.details}}</span>
    {{/if}}
  {{/if}}
</div>

{{outlet}}
