<div class="container-fluid group-header">
  <div class="row no-marg-left">
    <div class="col-xs-12">
      <h2>{{appState.groupName}} (<span>{{totalCount}} Items</span>)</h2>
    </div>
  </div>
  <div class="row no-marg-left">
    <div class="col-sm-12">
      {{item-search-form onFilter=(action 'filter')
        owner=owner
        tags=tags
        type=type
        typeKeywords=typeKeywords
        query=query
        updateItemTypeQueryParam=(action 'updateItemTypeQueryParam')
        }}
    </div>
  </div>
</div> 

<div class="container">
  
  <hr>

  <div class="row marg-top-20">
    <div class="col-xs-12">
      {{#if totalCount}}
        
        {{#each model.results as |item|}}

          {{#item-display model=item hideAllDetails=(action "hideAllDetails")}}

            {{#if item.showDetails}}
              
              {{item-details model=item scoring=item.scoring.items setItemStatus=(action "setItemStatus")}}
              
            {{/if}}

          {{/item-display}}
          
        {{/each}}

        <hr>

        {{list-pager model=model}}
      {{else}}
        <div class="alert alert-warning">No items found for query {{q}}.</div>
      {{/if}}    

    </div>
  </div>

</div>
